{% extends "base.html" %}
{% load static i18n user_tag crispy_forms_tags %}

{% block title %}{% trans 'List of snippets' %}{% endblock %}

{% block content %}
<div class="ui vertical low-stripe segment">
  <div class="ui middle aligned stackable grid container">
      <table class="ui celled table" style="text-align: center; vertical-align: middle; table-layout: fixed;">
      <tbody>
        <tr>
          <td data-label="Add">
            <a class="positive ui button" href="{% url 'snippets:create' %}"><i class="fas fa-plus"></i>Add a snippet</a>
          </td>
          <td data-label="Search">
            <form class="ui form" method="get" action="{% url 'snippets:search' %}" enctype="multipart/form-data">
              {{ search_form|crispy }}
              <p>
                <button type="submit" class="ui primary button">Search</button>
              </p>
            </form>
          </td>
        </tr>
      {% for object in object_list %}
        <tr>
          <td data-label="ID">
            <a href="{% url 'snippets:snippet' object.id %}">
              <button class="huge ui button">
                {{ object.id }}
              </button>
            </a>
          </td>
          <td data-label="User">
            <a href="{% url 'users:detail' object.user.username %}">{{ object.user.username }}</a>
          </td>
          <td data-label="Description">
            {% if object.desc %}
              {{ object.desc }}
            {% else %}
              -
            {% endif %}
          </td>
          <td data-label="IsVisible">
            {% if object.is_visible %}
              <i class="fas fa-eye"></i>
            {% else %}
              <i class="fas fa-eye-slash"></i>
            {% endif %}
          </td>
          <td data-label="UpdateDelete">
            {% if object.user.id == request.user.id %}
            <div class="ui large buttons">
              <a class="ui blue button" href="{% url 'snippets:update' object.id %}">Update</a>
              <div class="or"></div>
              <a class="negative ui button" href="{% url 'snippets:delete' object.id %}">Delete</a>
            </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock content %}
