{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'List of users' %}{% endblock %}

{% block content %}
<div class="ui vertical low-stripe segment">
  <div class="ui middle aligned stackable grid container">

          <table class="ui celled table">
            <thead>
              <tr>
                <th>ID</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Status' %}</th>
              </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
                {% if object.user_to == request.user %}
                <td data-label="ID">{{ object.user_from.pk }}</td>
                <td data-label="Name">{{ object.user_from.username }}</td>
                {% else %}
                <td data-label="ID">{{ object.user_to.pk }}</td>
                <td data-label="Name">{{ object.user_to.username }}</td>
                {% endif %}
                <td data-label="DateJoined">{{ object.get_status_display }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

  </div>
</div>
{% endblock content %}
