{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'User' %}: {{ object.username }}{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <div class="container">

          <div class="row">
            <div class="col-sm-12">

              <h2>{{ object.username }}</h2>
              {% if object.name %}
                <p>{{ object.name }}</p>
              {% endif %}
            </div>
          </div>

        {% if object == request.user %}
        {# Action buttons #}
        <div class="row">

          <div class="col-sm-12">
            <a class="ui primary button" href="{% url 'users:update' %}" role="button">{% trans 'My Info' %}</a>
            <a class="ui orange button" href="{% url 'account_email' %}" role="button">{% trans 'E-Mail' %}</a>
          </div>

        </div>
        {# End of action buttons #}
        {% endif %}


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

