{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'List of users' %}{% endblock %}

{% block content %}
<div class="ui vertical low-stripe segment">
  <div class="ui middle aligned stackable grid container">

          <table class="ui celled table">
            <tbody>
            {% for object in object_list %}
              <tr>
                <td data-label="Name"><a href="{% url 'users:detail' object.username %}">{{ object.username }}</a></td>
                <td data-label="DateJoined">{% trans 'Date Joined' %}: {{ object.date_joined }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

  </div>
</div>
{% endblock content %}
