{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h1>{{ user.username }}</h1>
        <form class="ui form" method="post" action="{% url 'users:update' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <p>
            <button type="submit" class="ui primary button">Update</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
