{% load static i18n common %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Privet there!{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alexey Elivanov">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {# Third-party CSS libraries go here #}
    <link
            href="{% static 'css/libs/semantic.min.css' %}"
            rel="stylesheet"
            type="text/css"
    >

    {# This file stores project-specific CSS #}
    <link
            href="{% static 'css/base.css' %}"
            rel="stylesheet"
            type="text/css"
    >

    {% block css %}
    {% endblock %}

  </head>

  <body id="root">

      {% nav_bar %}

          {% block upper_content %}
            <div class="ui text container">
              <h1 class="ui inverted header">Privet There!</h1>
              <h2>We are glad to see you here! Make yourself at home</h2>
            </div>
          {% endblock %}

        </div> {# <div class="ui inverted vertical masthead center aligned segment"> #}

        {# messages #}

        {% if messages %}
          {% for message in messages %}
              <div class="ui message alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block footer %}
          <div class="ui inverted vertical footer segment">
            <div class="ui container">
              <div
                class="ui stackable inverted divided equal height stackable grid"
              >
                <div class="three wide column">
                  <h4 class="ui inverted header">About</h4>
                  <div class="ui inverted link list">
                    <a class="item" href="#root">Sitemap</a>
                    <a class="item" href="#root">Contact Us</a>
                    <a class="item" href="https://github.com/Silver3310/Index-auth-service">Source code</a>
                  </div>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header">Services</h4>
                  <div class="ui inverted link list">
                    <a class="item" href="#root">DNA FAQ</a>
                    <a class="item" href="#root">How To Access</a>
                  </div>
                </div>
                <div class="seven wide column">
                  <h4 class="ui inverted header">Footer Header</h4>
                  <p>
                    Extra space for a call to action inside the footer that could
                    help re-engage users.
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}

    {# END of login stuff #}

    {# modal blocks #}
    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'js/libs/jquery.min.js' %}"></script>
      <script src="{% static 'js/libs/semantic.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/base.js' %}"></script>

    {% endblock javascript %}
    </div> {# <div class='pusher'> #}
  </body>
</html>

